{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        {% for category in categories %}
        <li><a href="{{ url_for('showCategoryItems', category_name = category.name) }}">{{category.name}}</a></li>
        {% endfor %}
    </div>
    <div class="col-md-6">
        {% if user_id != None %}
            {{user_id}} Edit
        {% endif %}
        {% for item in items %}
            <li>{{item.name}} ({{item.category_name}})</li>
        {% endfor %}
    </div>
</div>
{% endblock %}
