{% extends "main.html" %}
{% block content %}
<div class="row">
    <div class="col-md-3" style="border-right: solid 1px black;">
        <p><strong>Categories</strong></p>
        {% for category in categories %}
        <a href="{{ url_for('showCategoryItems', category_name = category.name) }}">{{category.name}}</a><br>
        {% endfor %}
    </div>
    <div class="col-md-8">
        {% if isLoggedIn %}
        <a href="{{ url_for('addItem') }}">Add Item</a>
        {% endif %}
        <p><strong>{{category_name}} Items ({{num_of_items}})</strong></p>
        {% for item in items %}
        <a href="{{ url_for('showItems', category_name = item.category_name, item_name = item.name) }}">{{item.name}}</a><br>
        {% endfor %}
    </div>
</div>
{% endblock %}
